@model Esmart.Permission.Web.Models.Permissions.ModifyUserPassword

<!DOCTYPE html>
<html>
<head>
    <title>CRM管理系统</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/content/bootstrap.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/validation.engine/validationEngine.jquery.css")" rel="stylesheet" />
</head>
<body class="login-bj">
    <div class="erp-login-head clearfix">
        <div class="erp-login-center">
            <h1>
                <img src="/Content/img/erp-logo.png">
                欢迎CRM管理系统
            </h1>
        </div>
    </div>
    <div class="erp-login-cont clearfix">
        <div class="col-xs-offset-3">
            @using (Html.BeginForm("ModifyPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", style = "margin-top: 60px;", id = "form1" }))
            {
                @Html.HiddenFor(n => n.UserId)
                <div class="form-group">
                    <label class="col-xs-2 control-label">用户帐号:</label>
                    <div class="col-xs-5">
                        @Html.TextBoxFor(n => n.UserAccount, new { @class = "form-control  validate[required,maxSize[50]]" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">旧密码:</label>
                    <div class="col-xs-5">
                        @Html.PasswordFor(n => n.Password, new { @class = "form-control  validate[required,maxSize[50]]" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">新密码:</label>
                    <div class="col-xs-5">
                        @Html.PasswordFor(n => n.NewPassword, new { @class = "form-control  validate[required,maxSize[50]]" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">确认密码:</label>
                    <div class="col-xs-5">
                        @Html.PasswordFor(n => n.ConfirmPassword, new { @class = "form-control  validate[required,equals[NewPassword],maxSize[50]]" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-3">
                        <button class="btn btn-default" style="padding: 5px 20px">保存</button>
                        <label style="color: red; margin-left: 20px;" id="lbinfo">@ViewBag.message</label>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="~/scripts/jquery-2.1.4.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/validation.engine/jquery.validationEngine.js"></script>
    <script src="~/Scripts/validation.engine/jquery.validationEngine-zh_CN.js"></script>
    <script>
        $(function () {
            $("#form1").validationEngine('attach', {
                promptPosition: "centerRight",
                validationEventTrigger: "blur",
                validateNonVisibleFields: true
            });
        });
    </script>
</body>
</html>
